 .u-section-1 {
  background-image: url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-1 .u-shape-1 {
  width: 1120px;
  height: 1002px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 231px auto 0;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/WhatsAppImage2022-03-26at3.31.33PM.jpeg");
  background-position: 50% 75.05%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1185px auto 0;
}

.u-section-1 .u-group-1 {
  width: 623px;
  min-height: 571px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px 41px 0 19px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.2;
  margin: 22px -67px 0 -46px;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 104px auto 0 215px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-1 .u-shape-1 {
    height: 860px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 826px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 476px;
    min-height: 415px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-1 .u-shape-1 {
    height: 812px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 349px;
    min-height: 404px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-shape-1 {
    height: 847px;
    margin-top: 155px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -947px;
  }

  .u-section-1 .u-group-1 {
    width: 225px;
    min-height: 436px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 754px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 121px 322px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 36px 100px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 206px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 12px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 14px 9px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 12px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 14px 9px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 12px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 14px 9px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 12px;
}

.u-section-2 .u-text-9 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 14px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 265px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 170px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 203px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 152px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 96px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1273px;
}

.u-section-3 .u-group-1 {
  width: 841px;
  min-height: 762px;
  margin: 60px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 32px 0;
}

.u-section-3 .u-shape-1 {
  margin-left: 0;
  margin-top: 0;
}

.u-section-3 .u-image-1 {
  width: 635px;
  height: 635px;
  background-image: url("images/IMG_20220227_152541_0131.webp");
  background-position: 50% 50%;
  margin: 19px 81px 0 auto;
}

.u-section-3 .u-group-2 {
  width: 623px;
  min-height: 476px;
  margin: -94px auto 60px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 86px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 615px;
    min-height: 608px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: initial;
    margin-top: initial;
  }

  .u-section-3 .u-image-1 {
    width: 496px;
    height: 496px;
    margin-top: 36px;
    margin-right: 46px;
  }

  .u-section-3 .u-group-2 {
    width: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 54px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 664px;
    margin-top: -19px;
    margin-bottom: 54px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-3 .u-group-1 {
    min-height: 550px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 447px;
    height: 447px;
    margin-right: 44px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-top: 39px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-3 .u-group-1 {
    min-height: 390px;
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 306px;
    height: 306px;
    margin-right: 14px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 43px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 544px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  line-height: 1.6;
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-4 .u-image-1 {
  width: 322px;
  height: 147px;
  margin: 10px auto 0 135px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  line-height: 2.2;
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 182px;
    margin-left: 57px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 44px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 320px;
    height: 146px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-5 .u-shape-1 {
  width: 1120px;
  height: 1002px;
  margin: 0 auto;
}

.u-section-5 .u-list-1 {
  width: 353px;
  grid-template-rows: auto auto auto;
  margin: -832px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 836px;
  grid-gap: 24px 24px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  width: 60px;
  height: 60px;
  margin: 0 22px 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -38px auto 0 11px;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-style: italic;
  margin: 44px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  width: 60px;
  height: 60px;
  margin: 0 22px 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -38px auto 0 11px;
}

.u-section-5 .u-text-4 {
  line-height: 1.8;
  font-style: italic;
  margin: 44px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: 0 22px 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -38px auto 0 11px;
}

.u-section-5 .u-text-6 {
  line-height: 1.8;
  font-style: italic;
  margin: 44px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-size: 3rem;
  margin: -941px auto 889px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    min-height: 823px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 18px 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 18px 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 18px 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1096px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2042px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 867px;
}

.u-section-6 .u-shape-1 {
  height: 374px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  margin: -255px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: 88px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 228px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 1px;
}

.u-section-6 .u-image-1 {
  height: 226px;
  width: 226px;
  background-image: url("images/word.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 1px;
}

.u-section-6 .u-image-2 {
  height: 226px;
  width: 226px;
  background-image: url("images/access.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 1px;
}

.u-section-6 .u-image-3 {
  height: 226px;
  width: 226px;
  background-image: url("images/pa.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 832px;
  }

  .u-section-6 .u-shape-1 {
    height: 526px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -466px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-bottom: 31px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 188px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 162px;
    width: 162px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 162px;
    width: 162px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: 162px;
    width: 162px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1349px;
  }

  .u-section-6 .u-shape-1 {
    height: 636px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -576px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-top: 187px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 432px;
  }

  .u-section-6 .u-image-1 {
    height: 192px;
    width: 192px;
  }

  .u-section-6 .u-image-2 {
    height: 192px;
    width: 192px;
  }

  .u-section-6 .u-image-3 {
    height: 192px;
    width: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-1 {
    height: 333px;
    width: 333px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-2 {
    height: 333px;
    width: 333px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-3 {
    height: 333px;
    width: 333px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 2108px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: 247px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.375rem;
  }

  .u-section-6 .u-image-1 {
    height: 222px;
    width: 222px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.375rem;
  }

  .u-section-6 .u-image-2 {
    height: 222px;
    width: 222px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.375rem;
  }

  .u-section-6 .u-image-3 {
    height: 222px;
    width: 222px;
  }
}